body {
  background: $background-color;
  font-family: $font-stack;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

iframe {
  display: block;
  width: 100%;
  @include sp {
    iframe {
      height: 160px;
    }
  }
}
